.Chips {
    display: inline-block;
}

.Chips .ChipContainer {
    margin-right: 20px;
}

.Chips .ChipContainer:last-child {
    margin-right: 0;
}

.ChipsVertical > * {
    display: block !important;
}

.ChipsVertical > * > *:first-child {
    margin-top: -3px !important
}