.Dealer {
    text-align: center;
}

.DealerHeader {
    background-color: #282c34;
    padding: 5px;
    width: 100%;
    font-size: 20px;
    color: #fff;
}

.Players {
    display: flex;
    flex-direction: row-reverse;
}

.Players Player:last-child {
    margin: 0;
}

.Players > * {
    position: fixed;
}

.Players > *:first-child {
    right: 10vw;
    top: 48vh;
    transform: rotate(-65deg);
}

.Players > *:nth-child(2) {
    right: 17vw;
    top: 68vh;
    transform: rotate(-45deg);
}

.Players > *:nth-child(3) {
    right: 28vw;
    top: 84vh;
    transform: rotate(-30deg);
}

.Players > *:nth-child(4) {
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 90vh;
}

.Players > *:nth-child(5) {
    left: 28vw;
    top: 84vh;
    transform: rotate(30deg);
}

.Players > *:nth-child(6) {
    left: 17vw;
    top: 68vh;
    transform: rotate(45deg);
}

.Players > *:last-child {
    left: 10vw;
    top: 48vh;
    transform: rotate(65deg);
}